@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './base';
/* Button */
@import './components/buttons';
/* Links */
@import './components/links';
/* CONTAINER */
@import './layout/containers';
/* Header */
@import './components/header';
/* Hero section */
@import './components/hero-section';
/* Advantages section */
@import './components/advantages-section';

.section {
  padding: 48px 0;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
/* Traditions section */
@import './components/traditions-section';
/* Chefs section */
@import './components/chefs-section';
/* Formats section */
@import './components/formats-section';
/* Carousel */
@import './utils/carousel';
/* Contacts section */
@import './components/contacts-section';
/* Footer */
@import './components/footer';
/* MODAL */
@import './utils/modal';
/* FORM */
@import './utils/form';
