.chefs-section {
  &__title {
    margin: 0 auto 24px;
    position: relative;

    @media screen and (min-width: $bp-desctop) {
      margin: 0 auto 80px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 352px;
        border: 2px solid var(--color-brand-light);
        position: absolute;
        bottom: 24px;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: $bp-tablet) {
      gap: 40px 30px;
      flex-direction: row;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
