.footer {
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url('../images/bg-footer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    background-image: url('../images/footer-bread-left.png');
    transform: rotate(10deg);
    height: 190px;
    width: 92px;
    top: 100px;
    left: -24px;

    @media screen and (min-width: $bp-tablet) {
      width: 170px;
      height: 150px;
      left: -46px;
      transform: rotate(-10deg);
      bottom: -24px;
      top: auto;
    }
  }

  &::after {
    background-image: url('../images/footer-bread-right.png');
    width: 130px;
    height: 100px;
    bottom: -20px;
    right: -30px;
    transform: rotate(16deg);

    @media screen and (min-width: $bp-tablet) {
      width: 330px;
      height: 240px;
      right: 0;
      transform: rotate(24deg);
      bottom: -100px;
    }
  }
  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
      text-align: left;
      gap: 20px;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }
  &__menu,
  &__address-list,
  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    @media screen and (min-width: $bp-tablet) {
      gap: 16px;
    }
  }
  &__address-list {
    margin-bottom: 16px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }
  &__address-social {
    display: flex;
    gap: 22px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
  }
}
