.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-desctop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: flex;
      flex-grow: 1;
      gap: 64px;
      justify-content: center;
    }
  }
  &__button {
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);
    padding: 0;
    @media screen and (min-width: $bp-desctop) {
      display: none;
    }
  }
}
