.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-desctop) {
    gap: 30px;
  }

  &__photo {
    width: 140px;
    border-radius: 2px 2px 2px 116px;
    box-shadow: -10px 10px 0 0 var(--color-primary-light),
      -10px 10px 0 1px var(--color-secondary-dark);

    @media screen and (min-width: $bp-desctop) {
      width: 240px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
