.input {
  position: relative;

  &__label {
    &--animate {
      position: absolute;
      top: 16px;
      left: 42px;
      font-size: 16px;
      line-height: 1.1;
      color: var(--color-secondary-dark);
      transition: transform 0.3s, color 0.3s;
    }
  }

  &:focus-within {
    .input__label {
      &--animate {
        /* FOCUS-WITHIN ! */
        transform: translate(-36px, -36px);
        color: var(--color-primary-dark);
      }
    }
  }

  &__control {
    padding: 8px 24px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 42px;
    }

    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      opacity: 1;
    }
    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;

      &::placeholder {
        color: var(--color-primary-dark);
      }
    }
  }
}

/* .checkbox-input {
  appearance: none;
}
.checkbox-input:checked + .checkbox-label {
  color: red;
}
.checkbox-label {
  position: relative;
  padding-left: 26px;
}
.checkbox-label::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-top: 4px;
  border: 1px solid #000;
  border-radius: 50%;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: red;
} */
